<!-- <mat-form-field floatLabel="auto" hideRequiredMarker appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="standard" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field><br>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field> -->

<mat-form-field hideRequiredMarker>
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint>Max 100 Characters</mat-hint>
</mat-form-field>

<mat-form-field hideRequiredMarker>
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel="never">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>

<mat-form-field hideRequiredMarker floatLabel="always">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>

<mat-form-field hideRequiredMarker floatLabel="auto">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>

<mat-form-field hideRequiredMarker floatLabel="auto" appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>


<mat-form-field hideRequiredMarker floatLabel="auto" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>


<mat-form-field hideRequiredMarker floatLabel="auto" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>

<br>

<mat-form-field hideRequiredMarker floatLabel="auto" appearance="standard" color="primary">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>


<mat-form-field hideRequiredMarker floatLabel="auto" appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>


<mat-form-field hideRequiredMarker floatLabel="auto" appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Max 100 Characters</mat-hint>
</mat-form-field>

